*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body{
    height: 100%;
}


body{
    font-family: 'Montserrat', serif;
    
}

/* nav and header start*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.2);
}
.top {
    max-width: 1200px;
    margin: auto;
}

.top h1 {
    width: 140px;
    float: left;
    padding: 10px 0px 0px 10px;
    color: whitesmoke;
}

nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    line-height: 60px;
    font-size: 16px;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
}

nav ul li a.active {
    background: whitesmoke;
    border-radius: 6px;
    color: black;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: url('../image/winter-6590863_1280.webp');
    background-color : black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* container for start */
.game-quiz-container{
    width: 40rem;
    height: 30rem;
    background-color: #8DAEB8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.game-question-container{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    border-radius: 25px;
    background: whitesmoke;
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}


.game-quiz-container .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #2E6A7C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px ;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 2%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  /* hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  .popup ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* start button*/
.btn {
    width: 45%;
    height: 3rem;
    border: 2px solid darkgray;
    border-radius: 10px;
    overflow: hidden;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.btn:hover {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    background: #2E6A7C;
    color: white;
}

/* All media q starts here */

@media(min-width : 300px) and (max-width : 350px){
    .top h1 {
        width: 100px;
        font-size: 1.8rem;

    }

    nav ul li a {
        padding: 8px 8px;
        line-height: 50px;
        font-size: 15px;
        

    }

    .game-quiz-container{
        width: 90%;
        height: 75vh;
     }
     

     .game-details-container h1{
        font-size: 0.8rem;
     }
 
     .game-question-container{
        height: 8rem;
     }
     .game-question-container {
       font-size: 0.7rem;
    }
 
    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
    .top h1 {
        width: 100px;

    }

    nav ul li a {
        padding: 12px 12px;
    }

   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }


    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 10rem;
        font-size: 0.9rem;
        
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }